# HTTPS Configuration for AWS Elastic Beanstalk
# This configuration sets up HTTPS redirect and security headers

option_settings:
  # Load Balancer HTTPS Configuration
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:region:account-id:certificate/certificate-id
    SSLPolicy: ELBSecurityPolicy-TLS-1-2-2017-01

  # HTTP to HTTPS Redirect  
  aws:elbv2:listener:80:
    Protocol: HTTP

files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          return 301 https://$host$request_uri;
      }

  "/opt/elasticbeanstalk/tasks/taillogs.d/01-app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-docker/containers/eb-current-app/eb-stdouterr.log

container_commands:
  01_reload_nginx:
    command: "service nginx reload"
    ignoreErrors: true
