option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/health
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok
    HealthCheckGracePeriod: 300
    EnhancedHealthAuthEnabled: 'true'
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: 'true'
    MaxBatchSize: '1'
    MinInstancesInService: '1'
    RollingUpdateType: Health
    Timeout: PT30M
